/* стили таблицы */
.flt-table {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 1.43;
}
.flt-table th,
table.TF.flt-table th {
    border-top: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-bottom: none;
    padding: 15px 5px 4px;
    background: #ededed;
    border-left: none;
    height: auto;
    font-weight: 600;
    vertical-align: top;
    text-align: center;
    height: auto;
}

.flt-table__tbody td,
table.TF .flt-table__tbody td {
    border-bottom: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    padding: 5px;
    vertical-align: middle;
}

.flt-table__thead th:first-child,
table.TF th:first-child,
.flt-table__tbody td:first-child {
    border-left: 1px solid #BDBDBD;
    font-weight: 600;
}
.flt-table__tfoot td {
    border-bottom: none !important;
}

.flt-table__thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 2;
}
@media (max-width: 1200px)
{
    .flt-table {
        font-size: 10px !important;
    }
}

@media (max-width: 1023px) {
    .flt-table-wrap {
        overflow: auto;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        margin: 0 -30px;
        padding: 0px 30px;
        max-height: 90vh;
    }
    .flt-table__thead th {
        top: -2px;
        z-index: 2;
    }
    .flt-table__thead th:first-child,
    .flt-table__tbody td:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: -30px;
        background: #fff;
        z-index: 1;
        box-shadow: 1px 0px 0 0px #c6c6c6;
    }
    .flt-table__thead th:first-child {
        z-index: 3;
    }
    .flt-table__thead th,
    .flt-table__tbody td {
        padding: 2px !important;
    }
    .flt-table__tfoot td {
        text-align: left !important;
    }
    .flt-table__popup {
        position: static !important;
        display: block !important;
    }
    .flt-table__filter select {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
        opacity: 0;
        z-index: 1;
    }
    .flt-table__popup[style*='block'] select {
        opacity: 1 !important;
    }
    [data-flt-table-reset] {
        position: sticky;
        left: -25px;
    }
}


.flt-table .odd,
.flt-table .even {
    background: transparent;
}
.flt-table form {
    margin: 0;
}

.flt-table .sort-arrow {
    position: static;
}
.flt-table .descending {
    background-image: url(themes/downsimple.svg);
}
.flt-table .ascending {
    background-image: url(themes/upsimple.svg);
}

/* стили для фильтров */
.flt-table__filter select {
    height: auto;
    width: auto;
    min-width: 100%;
    overflow: hidden;
    background: #ededed;
    padding: 0;
    border: none;
    text-align-last: center;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none !important;
}
.flt-table__filter select:focus {
    box-shadow: none;
}
.flt-table__filter option {
    font-weight: 600 !important;
}
.flt-table__filter option[disabled] {
     color: #bbbbbb;
 }
.flt-table__filter select::-webkit-scrollbar {
    width:1px;
    background-color:transparent
}
th:not(.flt-table__filter) .flt-table__placehollder + span {
    display: none;
}

th.flt-table__filter .flt-table__placehollder + span {
    display: block;
    color: #bdbdbd;
    margin-top: 5px;
    cursor: pointer;
}
th.flt-table__filter .flt-table__placehollder + span div:hover {
    filter: brightness(0.8);
}
.flt-table__arrow-down {
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    border-style: solid;
    border-color: currentColor;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
}
.flt-table__arrow-placeholder {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Всплывашка фильтра */
.flt-table .popUpFilter {
    margin: 0;
    top: 100%;
    left: 0;
    min-width: 100%;
    background: #ededed;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #bdbdbd;
}
.flt-table .popUpFilter:before,
.flt-table .popUpFilter:after {
    content: none !important;
}
.flt-table .div_checklist {
    height: auto;
    background: none;
    border: none;
}
.flt-table .flt_checklist_item input {
    display: none;
}
.flt_checklist_item {
    border: none !important;
    padding: 0 !important;
}
.flt_checklist_item:before {
    content: none;
}
.flt_checklist_item:hover,
.flt_checklist_slc_item {
    background: none !important;
    color: inherit !important;
}
.div_checklist label {
    padding: 0px 2px;
    margin: 0;
    text-align: center;
    font-size: normal;
}
.div_checklist label:hover,
.flt_checklist_slc_item label{
    background: #1976D2;
    color: #fff;
}

/* подсветка строк\колонок вслед за курсором */
.flt-table__tbody tr:hover,
.flt-table__tbody tr:hover td:first-child,
.flt-table[data-highlight-column="2"] tbody td:nth-child(2),
.flt-table[data-highlight-column="3"] tbody td:nth-child(3),
.flt-table[data-highlight-column="4"] tbody td:nth-child(4),
.flt-table[data-highlight-column="5"] tbody td:nth-child(5),
.flt-table[data-highlight-column="6"] tbody td:nth-child(6),
.flt-table[data-highlight-column="7"] tbody td:nth-child(7),
.flt-table[data-highlight-column="8"] tbody td:nth-child(8),
.flt-table[data-highlight-column="9"] tbody td:nth-child(9),
.flt-table[data-highlight-column="10"] tbody td:nth-child(10),
.flt-table[data-highlight-column="11"] tbody td:nth-child(11),
.flt-table[data-highlight-column="12"] tbody td:nth-child(12),
.flt-table[data-highlight-column="13"] tbody td:nth-child(13),
.flt-table[data-highlight-column="14"] tbody td:nth-child(14),
.flt-table[data-highlight-column="15"] tbody td:nth-child(15),
.flt-table[data-highlight-column="16"] tbody td:nth-child(16),
.flt-table[data-highlight-column="17"] tbody td:nth-child(17),
.flt-table[data-highlight-column="18"] tbody td:nth-child(18),
.flt-table[data-highlight-column="19"] tbody td:nth-child(19),
.flt-table[data-highlight-column="20"] tbody td:nth-child(20){
    background-color: #f6f6f6;
}

/* выделение отфильтрованной колонки */
.flt-table__active-header,
.flt-table__active-header .flt-table__placehollder + span {
    color: #5CABF9 !important;
}
.flt-table__active-cell {
    background: #e6f3ff !important;
}

/* popup */
.flt-table__tooltip-wrap {
    position: relative;
}
.flt-table__tooltip-link {
    background: none;
    border: none;
    display: inline;
    text-decoration: underline;
    color: #000;
    outline: none;
    position: relative;
}
/* переписать на клик */
.flt-table__tooltip.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.flt-table__tooltip-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    opacity: .8;
    font-family: monospace;
    font-weight: 600;
}
.flt-table__tooltip-close:hover {
    opacity: 1;
}
.flt-table__tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 9px 15px 9px 12px;
    text-align: left;
    top: 100%;
    right: 0;
    min-width: 200px;
    white-space: nowrap;
    transition: opacity .15s ease;
    z-index: -1;
}
.flt-table__tooltip-title {
    font-weight: 600;
    display:block;
    margin-bottom: 6px;
    padding-right: 20px;
}

/* скачать */
.flt-table__download {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url(/local/templates/aspro_next/images/svg/cad.svg) no-repeat bottom center;
}
/* контрол покупки */
.flt-table__buy {
    display: inline-flex;
}
.flt-table__buy-plus,
.flt-table__buy-minus {
    width: 22px;
    height: 22px;
    background: #EDEDED;
    line-height: 21px;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}
.flt-table__buy-plus:active,
.flt-table__buy-minus:active {
    filter: brightness(0.9);
}
.flt-table__buy-plus[disabled],
.flt-table__buy-minus[disabled] {
    color: #bdbdbd;
}
input.flt-table__buy-input {
    width: 45px;
    height: 22px;
    line-height: 21px;
    padding: 0 3px;
    border: none;
    text-align: center;
    box-shadow: 0 0 0 1px #EDEDED inset;
    outline: none;
    cursor: pointer;
}
.flt-table__buy-button {
    margin-left: 8px;
    width: 24px;
    height: 22px;
    background: url(/local/templates/aspro_next/images/svg/basket.svg) no-repeat center center transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
