<div id="ask_block_content">
    <div id="comp_0d21cb4036565632de62d4ea71197966">
        <!--'start_frame_cache_4enrz3'-->
        <div class="maxwidth-theme">
            <div class="form inline SIMPLE_FORM_2">
                <!--noindex-->
                <!-- ToDO удолить заголовок form_head-->
                <form name="SIMPLE_FORM_2" action="/catalog/ruchki_zvezdoobraznye/k0152_ruchki_zvezdoobraznye_din_6336/" method="POST" enctype="multipart/form-data"
                    novalidate="novalidate">
                    <input type="hidden" name="bxajaxid" id="bxajaxid_0d21cb4036565632de62d4ea71197966_8BACKi" value="0d21cb4036565632de62d4ea71197966">
                    <input type="hidden" name="AJAX_CALL" value="Y">
                    <input type="hidden" name="sessid" id="sessid" value="fd366a4d39d20539e22bc39418c28b4d">
                    <input type="hidden" name="WEB_FORM_ID" value="2">
                    <input type="hidden" name="sessid" id="sessid_1" value="fd366a4d39d20539e22bc39418c28b4d">
                    <div class="form_body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-control">
                                    <label>
                                        <span>Вопрос&nbsp;
                                            <span class="star">*</span>
                                        </span>
                                    </label>
                                    <textarea data-sid="QUESTION" required="" name="form_textarea_10" cols="40" rows="5" aria-required="true"></textarea> </div>
                                <input type="hidden" data-sid="PRODUCT_NAME" name="form_hidden_11" value="K0152 Ручки звездообразные DIN 6336"> </div>
                            <div class="col-md-5">
                                <div class="form-control">
                                    <label>
                                        <span>Ваше имя&nbsp;
                                            <span class="star">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="inputtext" data-sid="CLIENT_NAME" required="" name="form_text_7" value="" aria-required="true"> </div>
                                <div class="form-control">
                                    <label>
                                        <span>Телефон&nbsp;
                                            <span class="star">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="phone inputtext" data-sid="PHONE" required="" name="form_text_8" value="" aria-required="true"> </div>
                                <div class="form-control">
                                    <label>
                                        <span>E-mail</span>
                                    </label>
                                    <input type="email" placeholder="mail@domen.com" class="inputtext" data-sid="EMAIL" name="form_email_9" value=""> </div>
                            </div>
                        </div>
                        <div class="clearboth"></div>
                        <div class="form-control captcha-row clearfix">
                            <label>
                                <span>Введите текст с картинки&nbsp;
                                    <span class="star">*</span>
                                </span>
                            </label>
                            <div class="captcha_image">
                                <img src="/bitrix/tools/captcha.php?captcha_sid=0f6840356ce4759a4b60f6b7eb9ddd48" border="0">
                                <input type="hidden" name="captcha_sid" value="0f6840356ce4759a4b60f6b7eb9ddd48">
                                <div class="captcha_reload"></div>
                            </div>
                            <div class="captcha_input">
                                <input type="text" class="inputtext captcha" name="captcha_word" size="30" maxlength="50" value="" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="clearboth"></div>
                    </div>
                    <div class="form_footer">
                        <div class="licence_block filter label_block">
                            <input type="checkbox" id="licenses_inline" name="licenses_inline" required="" value="Y" aria-required="true">
                            <label for="licenses_inline">
                                Я согласен на
                                <a href="/include/licenses_detail.php" target="_blank">обработку персональных данных</a>
                            </label>
                        </div>
                        <input type="submit" class="btn btn-default" value="Отправить" name="web_form_submit">
                        <button type="reset" class="btn btn-default white" value="reset" name="web_form_reset">
                            <span>Отменить</span>
                        </button>
                    </div>
                </form>
                <!--/noindex-->
            </div>
        </div>
        <!--'end_frame_cache_4enrz3'-->
        <!--'start_frame_cache_form-block2'-->
        <!--'end_frame_cache_form-block2'-->
    </div>
</div>