<div class="wraps hover_shine" id="content">
    <div class="top_inner_block_wrapper maxwidth-theme">
        <div class="page-top-wrapper grey v3">
            <section class="page-top maxwidth-theme ">
                <div class="breadcrumbs" id="navigation" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/" title="Главная" itemprop="item">
                            <span itemprop="name">Главная</span>
                            <meta itemprop="position" content="1">
                        </a>
                    </div>
                    <span class="separator">-</span>
                    <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/catalog/" title="Каталог" itemprop="item">
                            <span itemprop="name">Каталог</span>
                            <meta itemprop="position" content="2">
                        </a>
                    </div>
                    <span class="separator">-</span>
                    <div class="bx-breadcrumb-item drop" id="bx_breadcrumb_2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="number" href="/catalog/promyshlennaya_furnitura/" itemprop="item">
                            <span itemprop="name">Промышленная фурнитура </span>
                            <b class="space"></b>
                            <span class="separator"></span>
                            <meta itemprop="position" content="3">
                        </a>
                        <div class="dropdown_wrapp">
                            <div class="dropdown">
                                <a class="dark_link" href="/catalog/promyshlennaya_furnitura/">Промышленная фурнитура</a>
                                <a class="dark_link" href="/catalog/stanochnye_prisposobleniya/">Станочные приспособления</a>
                            </div>
                        </div>
                    </div>
                    <span class="separator">-</span>
                    <div class="bx-breadcrumb-item drop" id="bx_breadcrumb_3" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="number" href="/catalog/ruchki_zazhimnye_i_pribornye/" itemprop="item">
                            <span itemprop="name">Ручки зажимные и приборные </span>
                            <b class="space"></b>
                            <span class="separator"></span>
                            <meta itemprop="position" content="4">
                        </a>
                        <div class="dropdown_wrapp">
                            <div class="dropdown">
                                <a class="dark_link" href="/catalog/vibroopory_vibroizolyatory/">Виброопоры и виброизоляторы</a>
                                <a class="dark_link" href="/catalog/zazhimnye_rychagi_i_rukoyatki/">Зажимные рычаги и рукоятки</a>
                                <a class="dark_link" href="/catalog/povorotnye_zamki_rigeli_i_fiksatory/">Поворотные замки, ригели и фиксаторы</a>
                                <a class="dark_link" href="/catalog/zashchelki_nakidnye/">Защелки накидные</a>
                                <a class="dark_link" href="/catalog/elementy_sistemy_smazki_i_gidravlicheskikh_mekhanizmov/">Элементы системы смазки и гидравлических механизмов</a>
                                <a class="dark_link" href="/catalog/makhoviki/">Маховики</a>
                                <a class="dark_link" href="/catalog/opory_reguliruemye_sharnirnye/">Опоры</a>
                                <a class="dark_link" href="/catalog/petli/">Петли</a>
                                <a class="dark_link" href="/catalog/rukoyatki/">Рукоятки</a>
                                <a class="dark_link" href="/catalog/ruchki_dvernye_plastikovye_i_metallicheskie/">Ручки дверные пластиковые и металлические</a>
                                <a class="dark_link" href="/catalog/ruchki_zazhimnye_i_pribornye/">Ручки зажимные и приборные</a>
                                <a class="dark_link" href="/catalog/zazhimy_i_prizhimy/">Зажимы и прижимы</a>
                                <a class="dark_link" href="/catalog/teleskopicheskie_napravlyayushchie/">Телескопические направляющие</a>
                                <a class="dark_link" href="/catalog/fiksatory_pruzhinnye_i_stopornye_paltsy/">Фиксаторы пружинные и стопорные пальцы</a>
                                <a class="dark_link" href="/catalog/schetchiki_oborotov/">Счетчики оборотов</a>
                                <a class="dark_link" href="/catalog/sharnirnye_soedineniya_golovki_i_nakonechniki/">Шарнирные соединения головки и наконечники</a>
                                <a class="dark_link" href="/catalog/magnity_postoyannye/">Магниты постоянные</a>
                                <a class="dark_link" href="/catalog/krepezhnye_elementy_dlya_mekhanizmov/">Крепежные элементы для механизмов</a>
                                <a class="dark_link" href="/catalog/elementy_sistemy_zazhima_trub/">Элементы системы зажима труб</a>
                                <a class="dark_link" href="/catalog/zashchitnye_profili/">Защитные профили</a>
                                <a class="dark_link" href="/catalog/prisposobleniya_dlya_transportirovki/">Приспособления для транспортировки</a>
                                <a class="dark_link" href="/catalog/shkaly_i_puzyrkovye_urovni/">Шкалы и пузырьковые уровни</a>
                                <a class="dark_link" href="/catalog/instrumenty_montazhnye/">Инструменты монтажные</a>
                                <a class="dark_link" href="/catalog/upory_elementy_pozitsionirovaniya_i_stopory/">Упоры, элементы позиционирования и стопоры</a>
                            </div>
                        </div>
                    </div>
                    <span class="separator">-</span>
                    <div class="bx-breadcrumb-item drop" id="bx_breadcrumb_4" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="number" href="/catalog/ruchki_lepestkovye/" itemprop="item">
                            <span itemprop="name">Ручки лепестковые </span>
                            <b class="space"></b>
                            <span class="separator"></span>
                            <meta itemprop="position" content="5">
                        </a>
                        <div class="dropdown_wrapp">
                            <div class="dropdown">
                                <a class="dark_link" href="/catalog/gayki_s_nakatkoy/">Гайки с накаткой</a>
                                <a class="dark_link" href="/catalog/ruchki_knopki/">Ручки кнопки</a>
                                <a class="dark_link" href="/catalog/ruchki_lepestkovye/">Ручки лепестковые</a>
                                <a class="dark_link" href="/catalog/ruchki_s_nakatkoy/">Ручки с накаткой</a>
                                <a class="dark_link" href="/catalog/ruchki_sharovye/">Ручки шаровые</a>
                                <a class="dark_link" href="/catalog/ruchki_upravleniya_i_regulirovki_vinty_gayki_s_nakatkoy/">Ручки управления и регулировки винты гайки с накаткой</a>
                                <a class="dark_link" href="/catalog/ruchki_barashkovye_gayki_i_vinty_barashek/">Ручки барашковые гайки и винты барашек</a>
                                <a class="dark_link" href="/catalog/ruchki_lepestkovye_krestoobraznye_rukoyatki/">Ручки лепестковые крестообразные рукоятки</a>
                                <a class="dark_link" href="/catalog/ruchki_lepestkovye_zvezdoobraznye_rukoyatki/">Ручки лепестковые звездообразные рукоятки</a>
                                <a class="dark_link" href="/catalog/ruchki_dlya_promyshlennoy_mebeli_i_oborudovaniya/">Ручки для промышленной мебели и оборудования</a>
                            </div>
                        </div>
                    </div>
                    <span class="separator">-</span>
                    <div class="bx-breadcrumb-item drop" id="bx_breadcrumb_5" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a class="number" href="/catalog/ruchki_zvezdoobraznye/" itemprop="item">
                            <span itemprop="name">Ручки звездообразные </span>
                            <b class="space"></b>
                            <span class="separator"></span>
                            <meta itemprop="position" content="6">
                        </a>
                        <div class="dropdown_wrapp">
                            <div class="dropdown">
                                <a class="dark_link" href="/catalog/ruchki_trekhlepestkovye/">Ручки трехлепестковые</a>
                                <a class="dark_link" href="/catalog/ruchki_pyatilepestkovye/">Ручки пятилепестковые</a>
                                <a class="dark_link" href="/catalog/ruchki_krestoobraznye/">Ручки крестообразные</a>
                                <a class="dark_link" href="/catalog/ruchki_barashki/">Ручки барашки</a>
                                <a class="dark_link" href="/catalog/ruchki_t_obraznye/">Ручки Т-образные</a>
                            </div>
                        </div>
                    </div>
                    <span class="separator">-</span>
                    <span>K0152 Ручки звездообразные DIN 6336</span>
                </div>
            </section>
        </div>
    </div>
    <!-- ToDO 
        перенести h1 из под меню сюда. 
        обновить верстку (добавились .page-title-wrapper и .page-title) 
    -->
    <div class="page-title-wrapper  maxwidth-theme middle">
        <div class=" container">
            <div class="page-top-main">
                <div class="line_block share top ">
                    <div class="share_wrapp">
                        <div class="text btn transparent">
                            Поделиться 
                        </div>
                        <div class="ya-share2 yashare-auto-init shares" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,viber,whatsapp,skype,telegram">
                        </div>
                    </div>
                    <br> 
                </div>
                <h1 class="page-title" id="pagetitle">K0152 Ручки звездообразные DIN 6336</h1>
            </div>
        </div>
    </div>
    <div class="wrapper_inner ">
        <div class="right_block  wide_Y">
            <div class="middle ">
                <div class="container">
                    <div class="catalog_detail " itemscope itemtype="http://schema.org/Product">
                        <div class="basket_props_block" id="bx_basket_div_387" style="display: none;">
                        </div>
                        <meta itemprop="name" content="K0152 Ручки звездообразные DIN 6336" />
                        <meta itemprop="category" content="Промышленная фурнитура/Ручки зажимные и приборные/Ручки лепестковые/Ручки звездообразные" />
                        <meta itemprop="description" content="Ручки звездообразные пластиковые со втулкой или винтом" />
                        <div class="item_main_info noffer show_un_props" id="bx_117848907_387">
                            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
                            <div class="row">
                                <!-- ToDo обновить верстку -->
                                <div class="col-lg-8 col-md-8 col-sm-9">
                                    <div class="slider-nav elem_th_slider dpl">
                                        <div style="max-width: 120px;height: 80px;border: 1px solid #ededed;text-align: center;margin-bottom: 4px">
                                            <img src="http://alterv.up-code.pro/images/site/video.jpg" style="max-width: 100%;max-height: 100%;margin: 0 auto">
                                        </div>
                                        <div style="max-width: 120px;height: 80px;border: 1px solid #ededed;text-align: center;margin-bottom: 4px">
                                            <img src="http://alterv.up-code.pro/upload/iblock/78e/78e55a962e4be26d56e985cc6a9639f8.png" alt="K0152 Ручки звездообразные" style="max-width: 100%;max-height: 100%;margin: 0 auto" />
                                        </div>
                                        <div style="max-width: 120px;height: 80px;border: 1px solid #ededed;text-align: center;margin-bottom: 4px">
                                            <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/ce0/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyem.jpg" alt="K0152 Ручки звездообразные DIN 6336" style="max-width: 100%;max-height: 100%;margin: 0 auto" />
                                        </div>
                                        <div style="max-width: 120px;height: 80px;border: 1px solid #ededed;text-align: center;margin-bottom: 4px">
                                            <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/40b/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyel.jpg" alt="K0152 Ручки звездообразные DIN 6336" style="max-width: 100%;max-height: 100%;margin: 0 auto" />
                                        </div>
                                        <div style="max-width: 120px;height: 80px;border: 1px solid #ededed;text-align: center;margin-bottom: 4px">
                                            <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/7bc/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyee.jpg" alt="K0152 Ручки звездообразные DIN 6336" style="max-width: 100%;max-height: 100%;margin: 0 auto" />
                                        </div>
                                        <div style="max-width: 120px;height: 80px;border: 1px solid #ededed;text-align: center;margin-bottom: 4px">
                                            <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/d4f/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyec.jpg" alt="K0152 Ручки звездообразные DIN 6336" style="max-width: 100%;max-height: 100%;margin: 0 auto" />
                                        </div>
                                        <div style="max-width: 120px;height: 80px;border: 1px solid #ededed;text-align: center;margin-bottom: 4px">
                                            <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/ebc/400_400_140cd750bba9870f18aada2478b24840a/e156d68c821f02e1eb50a1d1e71e2906.png" alt="K0152 Ручки звездообразные DIN 6336" style="max-width: 100%;max-height: 100%;margin: 0 auto" />
                                        </div>
                                    </div>
                                    <!-- ToDo обновить верстку -->
                                    <div class="">
                                        <p class="manufacturer">Производитель:
                                            <span>Kipp (Германия)</span>
                                        </p>
                                        <p><span class="skidka">-20%</span></p>
                                    </div>
                                    <!-- ToDo добавить -->
                                    <svg class="slick-btn-prev" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                        <g>
                                            <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" />
                                        </g>
                                    </svg>
                                    <!-- ToDo добавить класс -->
                                    <div class="slider-for dpl">
                                        <div class="thumb-wrap">
                                            <iframe width="100%" height="450" src="https://www.youtube.com/embed/Wbz9USInd3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        <div>
                                            <a href="http://alterv.up-code.pro/upload/iblock/78e/78e55a962e4be26d56e985cc6a9639f8.png" data-fancybox-group="item_slider" class="popup_link fancy" title="K0152 Ручки звездообразные">
                                                <img src="http://alterv.up-code.pro/upload/iblock/78e/78e55a962e4be26d56e985cc6a9639f8.png" alt="K0152 Ручки звездообразные" title="K0152 Ручки звездообразные" itemprop="image">
                                                <div class="zoom"></div>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="http://alterv.up-code.pro/upload/iblock/ce0/k0159_ruchki_kruglyem.jpg" data-fancybox-group="item_slider" class="popup_link fancy" title="K0152 Ручки звездообразные">
                                                <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/ce0/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyem.jpg" alt="K0152 Ручки звездообразные DIN 6336" title="K0152 Ручки звездообразные DIN 6336" itemprop="image">
                                                <div class="zoom"></div>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="http://alterv.up-code.pro/upload/iblock/40b/k0159_ruchki_kruglyel.jpg" data-fancybox-group="item_slider" class="popup_link fancy" title="K0152 Ручки звездообразные">
                                                <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/40b/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyel.jpg" alt="K0152 Ручки звездообразные DIN 6336" title="K0152 Ручки звездообразные DIN 6336" itemprop="image">
                                                <div class="zoom"></div>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="http://alterv.up-code.pro/upload/iblock/7bc/k0159_ruchki_kruglyee.jpg" data-fancybox-group="item_slider" class="popup_link fancy" title="K0152 Ручки звездообразные">
                                                <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/7bc/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyee.jpg" alt="K0152 Ручки звездообразные DIN 6336" title="K0152 Ручки звездообразные DIN 6336" itemprop="image">
                                                <div class="zoom"></div>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="http://alterv.up-code.pro/upload/iblock/d4f/k0159_ruchki_kruglyec.jpg" data-fancybox-group="item_slider" class="popup_link fancy" title="K0152 Ручки звездообразные">
                                                <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/d4f/400_400_140cd750bba9870f18aada2478b24840a/k0159_ruchki_kruglyec.jpg" alt="K0152 Ручки звездообразные DIN 6336" title="K0152 Ручки звездообразные DIN 6336" itemprop="image">
                                                <div class="zoom"></div>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="http://alterv.up-code.pro/upload/iblock/ebc/e156d68c821f02e1eb50a1d1e71e2906.png" data-fancybox-group="item_slider" class="popup_link fancy" title="K0152 Ручки звездообразные">
                                                <img src="http://alterv.up-code.pro/upload/resize_cache/iblock/ebc/400_400_140cd750bba9870f18aada2478b24840a/e156d68c821f02e1eb50a1d1e71e2906.png" alt="K0152 Ручки звездообразные DIN 6336" title="K0152 Ручки звездообразные DIN 6336" itemprop="image">
                                                <div class="zoom"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- ToDo добавить -->
                                    <svg class="slick-btn-next" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                        <g>
                                            <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                                        </g>
                                    </svg>
                                </div>
                                <!-- ToDo добавить класс-->
                                <div class="col-lg-4  col-md-4  col-sm-12">
                                    <!-- ToDo скрыть до появления ЛК -->
                                    <div class="link-favorite">
                                        <a class="link-add-to-favorites" href="#"><img src="./local/templates/aspro_next/images/izbrannoe.png" style="margin-right: 5px;"><span>В избранное</span> </a>
                                    </div>
                                    <div class="prod_info">
                                        <div class="available">
                                            <img src="http://alterv.up-code.pro/images/site/check.jpg">
                                            <span>Есть в наличии</span>
                                        </div>
                                        <div class="price_block">
                                            <div class="old">
                                                от
                                                <span>44.54</span> до
                                                <span>407.04</span> руб.
                                            </div>
                                            <div class="new">
                                                от
                                                <span>55,68</span> до
                                                <span>508,80</span> руб.
                                            </div>
                                        </div>
                                        <div class="wrapp_one_click">
                                            <span class="one_click send_prod_order" data-toggle="modal" data-target="#by1click" data-href="alterv.up-code.pro/catalog/ruchki_zvezdoobraznye/k0152_ruchki_zvezdoobraznye_din_6336/">
                                            <span>Отправить заявку</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="delivery_block">
                                        <p class="title">
                                            <img src="http://alterv.up-code.pro/images/site/delivery.jpg">
                                            <!-- ToDo добавить * в конце -->
                                            <span>Доставка по Екатеринбургу*</span>
                                        </p>
                                        <table>
                                            <tr>
                                                <td>СДЭК</td>
                                                <td>90 руб.</td>
                                            </tr>
                                            <tr>
                                                <td>Самовывоз</td>
                                                <td>Бесплатно</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span>*рассчитана для одного заказа</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <p class="isp_line">Выберите необходимое исполнение товара:</p>
                            <div>
                                <div class="owl-carousel owl-theme" id="isp_carousel">
                                    <div class="item">
                                        <div class="varisp" data-id="1865" style="cursor: pointer">
                                            <div class="img_block">
                                                <img src="http://alterv.up-code.pro/upload/iblock/760/k0159_ruchki_kruglyem.jpg">
                                            </div>
                                            <p class="title">Форма С - со </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="varisp" data-id="1866" style="cursor: pointer">
                                            <div class="img_block">
                                                <img src="http://alterv.up-code.pro/upload/iblock/574/k0159_ruchki_kruglyem.jpg">
                                            </div>
                                            <p class="title">Форма С - со вставкой из инструментальной стали2 со вставкой из инструментальной</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="varisp" data-id="1867" style="cursor: pointer">
                                            <div class="img_block">
                                                <img src="http://alterv.up-code.pro/upload/iblock/b9b/k0159_ruchki_kruglyem.jpg">
                                            </div>
                                            <p class="title">Форма С - со вставкой из инструментальной стали3</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="varisp" data-id="1868" style="cursor: pointer">
                                            <div class="img_block">
                                                <img src="http://alterv.up-code.pro/upload/iblock/112/k0159_ruchki_kruglyem.jpg">
                                            </div>
                                            <p class="title">Форма С - со вставкой из инструментальной стали4</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="varisp" data-id="1869" style="cursor: pointer">
                                            <div class="img_block">
                                                <img src="http://alterv.up-code.pro/upload/iblock/63e/k0159_ruchki_kruglyem.jpg">
                                            </div>
                                            <p class="title">Форма С - со вставкой из инструментальной стали5</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="varisp" data-id="1870" style="cursor: pointer">
                                            <div class="img_block">
                                                <img src="http://alterv.up-code.pro/upload/iblock/b06/k0159_ruchki_kruglyem.jpg">
                                            </div>
                                            <p class="title">Форма С - со вставкой из инструментальной стали6</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="varisp" data-id="1871" style="cursor: pointer">
                                            <div class="img_block">
                                                <img src="http://alterv.up-code.pro/upload/iblock/239/k0159_ruchki_kruglyem.jpg">
                                            </div>
                                            <p class="title">Форма С - со вставкой из инструментальной стали7</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="info_var_isp">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tov" aria-controls="tov" role="tab" data-toggle="tab">
                                            <span>Чертеж и выбор товара</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#prim" aria-controls="prim" role="tab" data-toggle="tab">
                                            <span>Применение</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#sop" aria-controls="sop" role="tab" data-toggle="tab">
                                            <span>Сопутствующие товары</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#down" aria-controls="down" role="tab" data-toggle="tab">
                                            <span>Материалы для скачивания</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#ask" aria-controls="ask" role="tab" data-toggle="tab">
                                            <span>Задать вопрос</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane_new active " id="tov">
                                            <!-- 
                                                ToDo Раскрывашки обернуть в такую структуру:
                                                <section>
                                                    <div class=" btn-common" data-collapse-btn>
                                                        <p>Заголовок раскрывашки</p>
                                                        <div class="triangle"></div>
                                                    </div>
                                                    <div class="" data-collapse-target>
                                                        ...
                                                    </div>
                                                </section>
                                                -->
                                            <section>
                                                <div class=" btn-common" data-collapse-btn>
                                                    <p>Заголовок этих двху блоков</p>
                                                    <div class="triangle"></div>
                                                </div>
                                                <div class="" data-collapse-target>
                                                    <section>
                                                        <div class=" btn-child" data-collapse-btn>
                                                            <p>Чертежи</p>
                                                            <div class="triangle"></div>
                                                        </div>
                                                        <div class="" data-collapse-target>
                                                            <div class="info_var_items info_var_item1865">
                                                                <p>Форма С - со вставкой из инструментальной стали1</p>
                                                                <!-- 
                                                                    ToDo тут поменять атрибут data-fancybox-group="item_slider"
                                                                    на data-fancybox-group="drawings"
                                                                 -->
                                                                <p>
                                                                    <a href="http://alterv.up-code.pro/upload/iblock/1a0/k0819_prizmy_chertej.jpg" data-fancybox-group="drawings" class="popup_link fancy">
                                                                    <img src="http://alterv.up-code.pro/upload/iblock/1a0/k0819_prizmy_chertej.jpg" style="max-width: 100%">
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    <a href="http://alterv.up-code.pro/upload/iblock/b10/k0819_prizmy_chertej50.jpg" data-fancybox-group="drawings" class="popup_link fancy">
                                                                    <img src="http://alterv.up-code.pro/upload/iblock/b10/k0819_prizmy_chertej50.jpg" style="max-width: 100%">
                                                                    </a>
                                                                </p>
                                                            </div>
                                                            <div class="info_var_items info_var_item1866">
                                                                <p>Форма С - со вставкой из инструментальной стали2</p>
                                                            </div>
                                                            <div class="info_var_items info_var_item1867">
                                                                <p>Форма С - со вставкой из инструментальной стали3</p>
                                                            </div>
                                                            <div class="info_var_items info_var_item1868">
                                                                <p>Форма С - со вставкой из инструментальной стали4</p>
                                                            </div>
                                                            <div class="info_var_items info_var_item1869">
                                                                <p>Форма С - со вставкой из инструментальной стали5</p>
                                                            </div>
                                                            <div class="info_var_items info_var_item1870">
                                                                <p>Форма С - со вставкой из инструментальной стали6</p>
                                                            </div>
                                                            <div class="info_var_items info_var_item1871">
                                                                <p>Форма С - со вставкой из инструментальной стали7</p>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section>
                                                        <div class=" btn-child" data-collapse-btn>
                                                            <p>Выбор/фильтр товаров</p>
                                                            <div class="triangle"></div>
                                                        </div>
                                                        <!-- Табилца -->
                                                        <div class="" id="table_block" data-collapse-target data-includehtml="_table.html"></div>
                                                    </section>
                                                </div>
                                            </section>
                                        </div>
                                        <div role="tabpanel" class="tab-pane_new" id="prim">текст области применения</div>
                                        <div role="tabpanel" class="tab-pane_new" id="sop">
                                            <p>
                                                <a href="/catalog/vibroizolyatory/vibroizolyatory_rezinometallicheskie_tip_a_k0566/">K0566 Виброизоляторы резинометаллические, наружная резьба</a>
                                            </p>
                                            <p>
                                                <a href="/catalog/vibroizolyatory/k0567_vibroizolyatory_rezinometallicheskie_s_suzheniem/">K0567 Виброизоляторы резинометаллические с сужением</a>
                                            </p>
                                            <p>
                                                <a href="/catalog/vibroizolyatory/k0568_vibroizolyatory_rezinometallicheskie_tsilindricheskie/">K0568 Виброизоляторы резинометаллические цилиндрические</a>
                                            </p>
                                            <p>
                                                <a href="/catalog/vibroizolyatory/k0569_vibroizolyatory_rezinometallicheskie_vnutrennyaya_rezba/">K0569 Виброизоляторы резинометаллические, внутренняя резьба</a>
                                            </p>
                                            <p>
                                                <a href="/catalog/vibroizolyatory/k0570_vibroizolyatory_rezinometallicheskie_s_suzheniem/">K0570 Виброизоляторы резинометаллические с сужением</a>
                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane_new" id="down">
                                            <!-- ToDo Добавить обертку .download-links -->
                                            <div class="download-links">
                                                <p>
                                                    <!-- ToDo Добавить атрибут download -->
                                                    <a href="/other/Altervia_price_list_12.03.2019.xls" download>Скачать прайс-лист</a>
                                                </p>
                                                <p>
                                                    <a href="/catalog/skachat-sertifikaty-kachestva/.png" download>Сертификаты качества</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane_new" id="ask">
                                            <!-- Форма -->
                                            <div id="ask_block" data-includehtml="_ask-form.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>