<footer id="footer">
    <div class="footer_inner no_fill footer-light ext_view">
        <div class="bottom_wrapper">
            <div class="wrapper_inner">
                <div class="row bottom-middle footer_address">
                    <div class="col-m-20 col-md-3 col-sm-12 col-xs-12">
                        <div class="item" itemscope="" itemtype="https://schema.org/LocalBusiness">
                            <meta itemprop="name" content="Промышленнная фурнитура Алтервиа">
                            <meta itemprop="image" content="https://alterv.ru/images/logonew.jpg">
                            <meta itemprop="priceRange" content="1-1000000000">
                            <meta itemprop="address" content="г. Москва, ул. Талалихина дом 41, строение 31">
                            <p class="title">
                                <span class="square"></span>Москва</p>
                            <p class="phone">
                                <a href="tel:+74995200019" style="color: #0f0f0f">
                                    <span itemprop="telephone">+7 (499) 520-00-19</span>
                                </a>
                            </p>
                            <p class="address">ул. Талалихина дом 41, строение 31</p>
                            <p>
                                <span itemprop="email">info@alterv.ru</span>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Mo-Th 09:00−18:00">Пн-Чт: 9:00-18:00</time>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Fr 09:00−17:00">Пт: 9:00-17:00</time>
                            </p>
                            <p>Сб-Вс: выходные</p>
                        </div>
                    </div>
                    <div class="col-m-20 col-md-3 col-sm-12 col-xs-12">
                        <div class="item" itemscope="" itemtype="https://schema.org/LocalBusiness">
                            <meta itemprop="name" content="Промышленнная фурнитура Алтервиа">
                            <meta itemprop="image" content="https://alterv.ru/images/logonew.jpg">
                            <meta itemprop="priceRange" content="1-1000000000">
                            <meta itemprop="address" content="г. Новосибирск, ул. Дуси Ковальчук, дом 2/2, офис 13">
                            <p class="title">
                                <span class="square"></span>Новосибирск</p>
                            <p class="phone">
                                <a href="tel:+7383390-00-19" style="color: #0f0f0f">
                                    <span itemprop="telephone">+7 (383) 390-00-19</span>
                                </a>
                            </p>
                            <p class="address">ул. Дуси Ковальчук, дом 2/2, офис 13</p>
                            <p>
                                <span itemprop="email">nsk@alterv.ru</span>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Mo-Th 09:00−18:00">Пн-Чт: 9:00-18:00</time>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Fr 09:00−17:00">Пт: 9:00-17:00</time>
                            </p>
                            <p>Сб-Вс: выходные</p>
                        </div>
                    </div>
                    <div class="col-m-20 col-md-3 col-sm-12 col-xs-12">
                        <div class="item" itemscope="" itemtype="https://schema.org/LocalBusiness">
                            <meta itemprop="name" content="Промышленнная фурнитура Алтервиа">
                            <meta itemprop="image" content="https://alterv.ru/images/logonew.jpg">
                            <meta itemprop="priceRange" content="1-1000000000">
                            <meta itemprop="address" content="г. Екатеринбург, ул. Блюхера, дом 2, офис 1">
                            <p class="title">
                                <span class="square"></span>Екатеринбург</p>
                            <p class="phone">
                                <a href="tel:+73433631063" style="color: #0f0f0f">
                                    <span itemprop="telephone">+7 (343) 363-10-63</span>
                                </a>
                            </p>
                            <p class="address">ул. Блюхера, дом 2, офис 1</p>
                            <p>
                                <span itemprop="email">ekb@alterv.ru</span>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Mo-Th 09:00−18:00">Пн-Чт: 9:00-18:00</time>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Fr 09:00−17:00">Пт: 9:00-17:00</time>
                            </p>
                            <p>Сб-Вс: выходные</p>
                        </div>
                    </div>
                    <div class="col-m-20 col-md-3 col-sm-12 col-xs-12">
                        <div class="item" itemscope="" itemtype="https://schema.org/LocalBusiness">
                            <meta itemprop="name" content="Промышленнная фурнитура Алтервиа">
                            <meta itemprop="image" content="https://alterv.ru/images/logonew.jpg">
                            <meta itemprop="priceRange" content="1-1000000000">
                            <meta itemprop="address" content="г. Ростов-на-Дону, ул. 14 линия 86, офис 223">
                            <p class="title">
                                <span class="square"></span>Ростов-на-Дону</p>
                            <p class="phone">
                                <a href="tel:+78633202019" style="color: #0f0f0f">
                                    <span itemprop="telephone">+7 (863) 320-20-19</span>
                                </a>
                            </p>
                            <p class="address">ул. 14 линия 86, офис 223</p>
                            <p>
                                <span itemprop="email">rnd@alterv.ru</span>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Mo-Th 09:00−18:00">Пн-Чт: 9:00-18:00</time>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Fr 09:00−17:00">Пт: 9:00-17:00</time>
                            </p>
                            <p>Сб-Вс: выходные</p>
                        </div>
                    </div>
                    <div class="col-m-20 col-md-3 col-sm-12 col-xs-12">
                        <div class="item" itemscope="" itemtype="https://schema.org/LocalBusiness">
                            <meta itemprop="name" content="Промышленнная фурнитура Алтервиа">
                            <meta itemprop="image" content="https://alterv.ru/images/logonew.jpg">
                            <meta itemprop="priceRange" content="1-1000000000">
                            <meta itemprop="address" content="г. Санкт-Петербург, пр. Стачек 45 кор 2 лит А, офис 105">
                            <p class="title">
                                <span class="square"></span>Санкт-Петербург</p>
                            <p class="phone">
                                <a href="tel:+78126136312" style="color: #0f0f0f">
                                    <span itemprop="telephone">+7 (812) 613-63-12</span>
                                </a>
                            </p>
                            <p class="address">пр. Стачек 45 кор 2 лит А, офис 105</p>
                            <p>
                                <span itemprop="email">spb@alterv.ru</span>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Mo-Th 09:00−18:00">Пн-Чт: 9:00-18:00</time>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Fr 09:00−17:00">Пт: 9:00-17:00</time>
                            </p>
                            <p>Сб-Вс: выходные</p>
                        </div>
                    </div>
                    <div class="col-m-20 col-md-3 col-sm-12 col-xs-12" style="display: none">
                        <div class="item" itemscope="" itemtype="https://schema.org/LocalBusiness">
                            <meta itemprop="name" content="Промышленнная фурнитура Алтервиа">
                            <meta itemprop="image" content="https://alterv.ru/images/logonew.jpg">
                            <meta itemprop="priceRange" content="1-1000000000">
                            <p class="title">
                                <span class="square"></span>Дилер</p>
                            <p class="phone">
                                <a href="tel:+74852599320" style="color: #0f0f0f">
                                    <span itemprop="telephone">+7 (4852) 59-93-20</span>
                                </a>
                            </p>
                            <p class="address">
                                <span itemprop="address">"Центр Режущего Инструмента", г. Ярославль, Большая Фёдоровская, 118а</span>
                            </p>
                            <p>
                                <span itemprop="email">476872@list.ru</span>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Mo-Th 09:00−18:00">Пн-Чт: 9:00-18:00</time>
                            </p>
                            <p>
                                <time itemprop="openingHours" datetime="Fr 09:00−17:00">Пт: 9:00-17:00</time>
                            </p>
                            <p>Сб-Вс: выходные</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="maxwidth-theme bottom-under">
            <div class="row">
                <div class="col-md-12 outer-wrapper">
                    <div class="inner-wrapper row">
                        <div class="copy-block">
                            <div class="copy">
                                &copy; 2018-2019 ООО Алтервиа

                            </div>
                            <div class="print-block">
                                <a href="/karta-sayta/">карта сайта</a>
                            </div>
                            <div id="bx-composite-banner"></div>
                        </div>
                        <div class="pull-right pay_system_icons">
                            <span class="">
                                <!--<i title="Cash" class="cacsh"></i>
<i title="Yandex" class="yandex_money"></i>
<i title="WebMoney" class="webmoney"></i>
<i title="Qiwi" class="qiwi"></i>
<i title="Alfa" class="alfa"></i>-->
                                <i title="MasterCard" class="mastercard"></i>
                                <i title="Visa" class="visa"></i>
                                <i title="Sberbank" class="sbrf"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bx_areas">
</div>

<div class="inline-search-block fixed with-close big">
    <div class="maxwidth-theme">
        <div class="col-md-12">
            <div class="search-wrapper">
                <div id="title-search">
                    <form action="/catalog/" class="search">
                        <div class="search-input-div">
                            <input class="search-input" id="title-search-input" type="text" name="q" value="" placeholder="Поиск" size="20" maxlength="50"
                                autocomplete="off" />
                        </div>
                        <div class="search-button-div">
                            <button class="btn btn-search btn-default bold btn-lg" type="submit" name="s" value="Поиск">Поиск</button>
                            <span class="close-block inline-search-hide">
                                <span class="svg svg-close close-icons"></span>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--'start_frame_cache_basketitems-block'-->
<!--'end_frame_cache_basketitems-block'-->
<div class="basket_wrapp fly basket_fill_DARK">
    <div class="header-cart fly" id="basket_line">
        <div class="basket_fly">
            <div class="wrap_cont">
                <div class="opener">
                    <div title="Корзина пуста" data-type="AnDelCanBuy" class="basket_count small clicked empty">
                        <a href="/basket/"></a>
                        <div class="wraps_icon_block basket">
                            <div class="count empty_items">
                                <span>
                                    <span class="items">
                                        <span>0</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div title="Список отложенных товаров пуст" data-type="DelDelCanBuy" class="wish_count small clicked empty">
                        <a href="/basket/#delayed"></a>
                        <div class="wraps_icon_block delay">
                            <div class="count empty_items">
                                <span>
                                    <span class="items">
                                        <span>0</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div title="Сравнение товаров" class="compare_count small">
                        <a href="/catalog/compare.php"></a>
                        <div id="compare_fly" class="wraps_icon_block compare empty_block">
                            <div class="count empty_items">
                                <span>
                                    <span class="items">
                                        <span>0</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket_sort">
                    <span class="basket_title">Корзина заказа</span>
                </div>
            </div>
        </div>
        <!--'start_frame_cache_header-cart'-->
        <!--'end_frame_cache_header-cart'-->
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="by1click" tabindex="-1" role="dialog" aria-labelledby="by1click">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Купить в 1 клик</h4>
            </div>
            <div class="modal-body">
                <div class="one_click_new_form">

                </div>
            </div>
        </div>
    </div>
</div>