<link rel="shortcut icon" type="images/x-icon" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="shortcut icon" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="icon" type="image/png" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico" sizes="16x16">
<link rel="icon" type="image/png" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico" sizes="32x32">
<link rel="icon" type="image/png" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico" sizes="96x96">
<link rel="icon" type="image/png" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico" sizes="192x192">
<link rel="apple-touch-icon" sizes="57x57" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="60x60" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="72x72" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="76x76" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="120x120" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="144x144" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="152x152" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="http://alterv.up-code.pro/bitrix/templates/aspro_next/favicon.ico">
<title>K0152 Ручки звездообразные DIN 6336 купить в по оптовым ценам | Алтервиа</title>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="k0152 Ручки звездообразные din 6336, купить, k0152 Ручки звездообразные din 6336 в " />
<meta name="description" content="K0152 Ручки звездообразные DIN 6336 вы можете заказать оптом и в розницу в   ✔Низкие цены ✔Немецкое качество ✔Быстрая доставка  ☎Звоните: ."
/>
<script type="text/javascript" data-skip-moving="true">(function (w, d, n) { var cl = "bx-core"; var ht = d.documentElement; var htc = ht ? ht.className : undefined; if (htc === undefined || htc.indexOf(cl) !== -1) { return; } var ua = n.userAgent; if (/(iPad;)|(iPhone;)/i.test(ua)) { cl += " bx-ios"; } else if (/Android/i.test(ua)) { cl += " bx-android"; } cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch"); cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ? " bx-retina" : " bx-no-retina"; var ieVersion = -1; if (/AppleWebKit/.test(ua)) { cl += " bx-chrome"; } else if ((ieVersion = getIeVersion()) > 0) { cl += " bx-ie bx-ie" + ieVersion; if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) { cl += " bx-quirks"; } } else if (/Opera/.test(ua)) { cl += " bx-opera"; } else if (/Gecko/.test(ua)) { cl += " bx-firefox"; } if (/Macintosh/i.test(ua)) { cl += " bx-mac"; } ht.className = htc ? htc + " " + cl : cl; function isDoctype() { if (d.compatMode) { return d.compatMode == "CSS1Compat"; } return d.documentElement && d.documentElement.clientHeight; } function getIeVersion() { if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) { return -1; } var rv = -1; if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) { rv = 11; } else if (!!d.documentMode && d.documentMode >= 10) { rv = 10; } else if (!!d.documentMode && d.documentMode >= 9) { rv = 9; } else if (d.attachEvent && !/Opera/.test(ua)) { rv = 8; } if (rv == -1 || rv == 8) { var re; if (n.appName == "Microsoft Internet Explorer") { re = new RegExp("MSIE ([0-9]+[\.0-9]*)"); if (re.exec(ua) != null) { rv = parseFloat(RegExp.$1); } } else if (n.appName == "Netscape") { rv = 11; re = new RegExp("Trident/.*rv:([0-9]+[\.0-9]*)"); if (re.exec(ua) != null) { rv = parseFloat(RegExp.$1); } } } return rv; } })(window, document, navigator);</script>


<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,500,600,700,800&subset=latin,cyrillic-ext"
    type="text/css" rel="stylesheet" />
<link href="http://alterv.up-code.pro/bitrix/js/main/core/css/core_popup.css" type="text/css" rel="stylesheet" />
<link href="/local/templates/aspro_next/components/bitrix/catalog.element/main/style.css" type="text/css"
    rel="stylesheet" />
<link href="/local/templates/aspro_next/components/bitrix/sale.gift.main.products/main/style.css" type="text/css"
    rel="stylesheet" />
<link href="http://alterv.up-code.pro/bitrix/js/main/core/css/core.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/vendor/css/bootstrap.css" type="text/css" data-template-style="true"
    rel="stylesheet" />
<link href="/local/templates/aspro_next/css/jquery.fancybox.css" type="text/css" data-template-style="true"
    rel="stylesheet" />
<link href="/local/templates/aspro_next/css/styles.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/css/animation/animation_ext.css" type="text/css" data-template-style="true"
    rel="stylesheet" />
<link href="/local/templates/aspro_next/ajax/ajax.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/webformat.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/css/spectrum.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="http://alterv.up-code.pro/bitrix/components/aspro/theme.next/templates/.default/style.css" type="text/css" data-template-style="true"
    rel="stylesheet" />
<link href="/local/templates/aspro_next/styles.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/template_styles.css" type="text/css" data-template-style="true"
    rel="stylesheet" />
<link href="/local/templates/aspro_next/css/media.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/vendor/fonts/font-awesome/css/font-awesome.min.css" type="text/css"
    data-template-style="true" rel="stylesheet" />
<link href="/local/templates/aspro_next/css/print.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/css/custom.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/themes/9/theme.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/bg_color/light/bgcolors.css" type="text/css" data-template-style="true"
    rel="stylesheet" />
<link href="/local/templates/aspro_next/css/width-3.css" type="text/css" data-template-style="true" rel="stylesheet"
/>
<link href="/local/templates/aspro_next/css/font-1.css" type="text/css" data-template-style="true" rel="stylesheet"
/>



<link rel="shortcut icon" href="http://alterv.up-code.pro/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="http://alterv.up-code.pro/upload/CNext/4db/4dbe9a90655a5c913c152ea2678e8238.png" />
<meta property="og:description" content="Ручки звездообразные пластиковые со втулкой или винтом" />
<meta property="og:image" content="http://alterv.up-code.pro/upload/iblock/3b2/3b289e0f1bce1109604aa65201e6180a.png" />
<link rel="image_src" href="http://alterv.up-code.pro/upload/iblock/3b2/3b289e0f1bce1109604aa65201e6180a.png" />
<meta property="og:title" content="K0152 Ручки звездообразные DIN 6336 купить в  по оптовым ценам | Алтервиа" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://alterv.up-code.pro/catalog/ruchki_zvezdoobraznye/k0152_ruchki_zvezdoobraznye_din_6336/" />

<link href="/local/templates/aspro_next/css/owl.carousel.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
