<!--  ToDo перенести:
    подключение стилей
    подключение плагина
    верстка таблицы
    инициализация скрипта 
-->

<!-- Polyfills for IE -->
<script>
    var loadedPolyfills = (function (window, Function) {
        var namedPolyfills = [];

        if(!window.Promise) {
        document.write('<script src="//unpkg.com/es6-promise@3.2.1/dist/es6-promise.min.js"><\/script>');
        namedPolyfills.push('window.Promise');
        }

        if(!Function.name) {
        document.write('<script src="//unpkg.com/function.name-polyfill@latest/Function.name.js"><\/script>');
        namedPolyfills.push('Function.name');
        }

        return namedPolyfills;
    })(window, Function)
</script>
<link href="/local/templates/aspro_next/js/tablefilter/style/custom-styles.css" type="text/css" rel="stylesheet">
<script src="/local/templates/aspro_next/js/tablefilter/tablefilter.js"></script>

<!-- ToDo при вставке нескольких табилиц 
    у каждой должна быть обертка .flt-table-wrap 
-->
<div class="flt-table-wrap">
    <table cellspacing="0" border="0" cellpadding="0" class="flt-table" data-flt-table>
        <thead class="flt-table__thead">
            <tr>
                <th>Номер заказа</th>
                <th class="flt-table__filter">Цвет основы</th>
                <th class="flt-table__filter">Размер</th>
                <th class="flt-table__filter">X</th>
                <th class="flt-table__filter">T</th>
                <th class="flt-table__filter">D</th>
                <th class="flt-table__filter">D1</th>
                <th class="flt-table__filter">D2</th>
                <th class="flt-table__filter">D3</th>
                <th class="flt-table__filter">H</th>
                <th class="flt-table__filter">H1</th>
                <th class="flt-table__filter">H2</th>
                <th class="flt-table__filter">H3</th>
                <th class="flt-table__filter">H4</th>
                <th class="flt-table__filter">A</th>
                <th class="flt-table__filter">A1</th>
                <th class="flt-table__filter">Число зубьев</th>
                <th>CAD</th>
                <th>Цена</th>
                <th>Наличие</th>
                <th>Заказать</th>
            </tr>
        </thead>
        <tfoot class="flt-table__tfoot">
            <tr>
                <td colspan="100%" align="right">
                    <span data-flt-table-reset></span>
                </td>
            </tr>
        </tfoot>
        <tbody class="flt-table__tbody">
            <tr>
                <td>K0116.1041</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>1</td>
                <td>M4</td>
                <td>9</td>
                <td>10</td>
                <td>13</td>
                <td>14</td>
                <td>10,5</td>
                <td>24,5</td>
                <td>4</td>
                <td>15</td>
                <td>32,5</td>
                <td>35,5</td>
                <td>39</td>
                <td>46</td>
                <td>16</td>
                <td>
                    <a href="http://alterv.up-code.pro/other/Altervia_price_list_12.03.2019.xls" 
                        class="flt-table__download"
                        download></a>
                </td>
                <td>по запросу</td>
                <td class="flt-table__tooltip-wrap">
                    <button class="flt-table__tooltip-link"
                        onclick="toggleFltTooltip(this)">
                        25
                    </button>
                    <div class="flt-table__tooltip" data-flt-tooltip>
                        <button class="flt-table__tooltip-close"
                            onclick="toggleFltTooltip(this)">
                            х
                        </button>
                        <span class="flt-table__tooltip-title">
                            Наличие на всех складах: 20 шт.
                        </span>
                        Наличие на складе г. Москва: 10шт.<br/>
                        Наличие на складе г. Санкт-Петербург: 5шт.<br/>
                        Наличие на складе г. Екатеринбург: 5 шт.<br/>
                    </div>
                </td>
                <td>
                    <form class="flt-table__buy" data-add-to-card>
                        <button type="button" 
                            class="flt-table__buy-plus"
                            data-add-to-card-decrement
                            disabled>
                            -
                        </button>
                        <input type="text" 
                            value="1" 
                            class="flt-table__buy-input"
                            data-add-to-card-value/>
                        <button type="button" 
                            class="flt-table__buy-minus"
                            data-add-to-card-increment>
                            +
                        </button>
                        <button type="submit" 
                            class="flt-table__buy-button"
                            data-add-to-card-btn></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>K0116.1051</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>1</td>
                <td>M5</td>
                <td>9</td>
                <td>10</td>
                <td>13</td>
                <td>14</td>
                <td>10,5</td>
                <td>24,5</td>
                <td>4</td>
                <td>15</td>
                <td>32,5</td>
                <td>35,5</td>
                <td>39</td>
                <td>46</td>
                <td>16</td>
                <td>
                    <a href="http://alterv.up-code.pro/other/Altervia_price_list_12.03.2019.xls" 
                        class="flt-table__download"
                        download></a>
                </td>
                <td>по запросу</td>
                <td class="flt-table__tooltip-wrap">
                    <button class="flt-table__tooltip-link"
                        onclick="toggleFltTooltip(this)">
                        35
                    </button>
                    <div class="flt-table__tooltip" data-flt-tooltip>
                        <button class="flt-table__tooltip-close"
                            onclick="toggleFltTooltip(this)">
                            х
                        </button>
                        <span class="flt-table__tooltip-title">
                            Наличие на всех складах: 20 шт.
                        </span>
                        Наличие на складе г. Москва: 10шт.<br/>
                        Наличие на складе г. Санкт-Петербург: 15шт.<br/>
                        Наличие на складе г. Екатеринбург: 5 шт.<br/>
                    </div>
                </td>
                <td>
                    <form class="flt-table__buy" data-add-to-card>
                        <button type="button" 
                            class="flt-table__buy-plus"
                            data-add-to-card-decrement
                            disabled>
                            -
                        </button>
                        <input type="text" 
                            value="1" 
                            class="flt-table__buy-input"
                            data-add-to-card-value/>
                        <button type="button" 
                            class="flt-table__buy-minus"
                            data-add-to-card-increment>
                            +
                        </button>
                        <button type="submit" 
                            class="flt-table__buy-button"
                            data-add-to-card-btn></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>K0116.1061</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>1</td>
                <td>M6</td>
                <td>9</td>
                <td>10</td>
                <td>13</td>
                <td>14</td>
                <td>10,5</td>
                <td>24,5</td>
                <td>4</td>
                <td>15</td>
                <td>32,5</td>
                <td>35,5</td>
                <td>39</td>
                <td>46</td>
                <td>16</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.2061</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>2</td>
                <td>M6</td>
                <td>12</td>
                <td>13,5</td>
                <td>18</td>
                <td>18,5</td>
                <td>15,5</td>
                <td>28,5</td>
                <td>6,5</td>
                <td>16,5</td>
                <td>45,5</td>
                <td>49,5</td>
                <td>64</td>
                <td>73</td>
                <td>20</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.2081</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>2</td>
                <td>M8</td>
                <td>12</td>
                <td>13,5</td>
                <td>18</td>
                <td>18,5</td>
                <td>15,5</td>
                <td>28,5</td>
                <td>6,5</td>
                <td>16,5</td>
                <td>45,5</td>
                <td>49,5</td>
                <td>64</td>
                <td>73</td>
                <td>20</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.3081</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>3</td>
                <td>M8</td>
                <td>14</td>
                <td>16</td>
                <td>21</td>
                <td>22</td>
                <td>17</td>
                <td>37</td>
                <td>10</td>
                <td>23</td>
                <td>57,5</td>
                <td>61,5</td>
                <td>79</td>
                <td>90</td>
                <td>22</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.3101</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>3</td>
                <td>M10</td>
                <td>14</td>
                <td>16</td>
                <td>21</td>
                <td>22</td>
                <td>17</td>
                <td>37</td>
                <td>10</td>
                <td>23</td>
                <td>57,5</td>
                <td>61,5</td>
                <td>79</td>
                <td>90</td>
                <td>22</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.4101</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>4</td>
                <td>M10</td>
                <td>17</td>
                <td>19</td>
                <td>25</td>
                <td>26</td>
                <td>19</td>
                <td>42,5</td>
                <td>10</td>
                <td>26</td>
                <td>67</td>
                <td>72</td>
                <td>95</td>
                <td>108</td>
                <td>24</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.4121</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>4</td>
                <td>M12</td>
                <td>17</td>
                <td>19</td>
                <td>25</td>
                <td>26</td>
                <td>19</td>
                <td>42,5</td>
                <td>10</td>
                <td>26</td>
                <td>67</td>
                <td>72</td>
                <td>95</td>
                <td>108</td>
                <td>24</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.5121</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>5</td>
                <td>M12</td>
                <td>23</td>
                <td>23</td>
                <td>30</td>
                <td>31</td>
                <td>22</td>
                <td>49</td>
                <td>12</td>
                <td>32</td>
                <td>79</td>
                <td>84</td>
                <td>110</td>
                <td>126</td>
                <td>26</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.5161</td>
                <td>Цвет чёрный шелковисто-матовый</td>
                <td>5</td>
                <td>M16</td>
                <td>23</td>
                <td>23</td>
                <td>30</td>
                <td>31</td>
                <td>22</td>
                <td>49</td>
                <td>12</td>
                <td>32</td>
                <td>79</td>
                <td>84</td>
                <td>110</td>
                <td>126</td>
                <td>26</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.1043</td>
                <td>серебро-металлик</td>
                <td>1</td>
                <td>M4</td>
                <td>9</td>
                <td>10</td>
                <td>13</td>
                <td>14</td>
                <td>10,5</td>
                <td>24,5</td>
                <td>4</td>
                <td>15</td>
                <td>32,5</td>
                <td>35,5</td>
                <td>39</td>
                <td>46</td>
                <td>16</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.1053</td>
                <td>серебро-металлик</td>
                <td>1</td>
                <td>M5</td>
                <td>9</td>
                <td>10</td>
                <td>13</td>
                <td>14</td>
                <td>10,5</td>
                <td>24,5</td>
                <td>4</td>
                <td>15</td>
                <td>32,5</td>
                <td>35,5</td>
                <td>39</td>
                <td>46</td>
                <td>16</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.1063</td>
                <td>серебро-металлик</td>
                <td>1</td>
                <td>M6</td>
                <td>9</td>
                <td>10</td>
                <td>13</td>
                <td>14</td>
                <td>10,5</td>
                <td>24,5</td>
                <td>4</td>
                <td>15</td>
                <td>32,5</td>
                <td>35,5</td>
                <td>39</td>
                <td>46</td>
                <td>16</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.2063</td>
                <td>серебро-металлик</td>
                <td>2</td>
                <td>M6</td>
                <td>12</td>
                <td>13,5</td>
                <td>18</td>
                <td>18,5</td>
                <td>15,5</td>
                <td>28,5</td>
                <td>6,5</td>
                <td>16,5</td>
                <td>45,5</td>
                <td>49,5</td>
                <td>64</td>
                <td>73</td>
                <td>20</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp; </td>
            </tr>
            <tr>
                <td>K0116.2083</td>
                <td>серебро-металлик</td>
                <td>2</td>
                <td>M8</td>
                <td>12</td>
                <td>13,5</td>
                <td>18</td>
                <td>18,5</td>
                <td>15,5</td>
                <td>28,5</td>
                <td>6,5</td>
                <td>16,5</td>
                <td>45,5</td>
                <td>49,5</td>
                <td>64</td>
                <td>73</td>
                <td>20</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.3083</td>
                <td>серебро-металлик</td>
                <td>3</td>
                <td>M8</td>
                <td>14</td>
                <td>16</td>
                <td>21</td>
                <td>22</td>
                <td>17</td>
                <td>37</td>
                <td>10</td>
                <td>23</td>
                <td>57,5</td>
                <td>61,5</td>
                <td>79</td>
                <td>90</td>
                <td>22</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.3103</td>
                <td>серебро-металлик</td>
                <td>3</td>
                <td>M10</td>
                <td>14</td>
                <td>16</td>
                <td>21</td>
                <td>22</td>
                <td>17</td>
                <td>37</td>
                <td>10</td>
                <td>23</td>
                <td>57,5</td>
                <td>61,5</td>
                <td>79</td>
                <td>90</td>
                <td>22</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.4103</td>
                <td>серебро-металлик</td>
                <td>4</td>
                <td>M10</td>
                <td>17</td>
                <td>19</td>
                <td>25</td>
                <td>26</td>
                <td>19</td>
                <td>42,5</td>
                <td>10</td>
                <td>26</td>
                <td>67</td>
                <td>72</td>
                <td>95</td>
                <td>108</td>
                <td>24</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.4123</td>
                <td>серебро-металлик</td>
                <td>4</td>
                <td>M12</td>
                <td>17</td>
                <td>19</td>
                <td>25</td>
                <td>26</td>
                <td>19</td>
                <td>42,5</td>
                <td>10</td>
                <td>26</td>
                <td>67</td>
                <td>72</td>
                <td>95</td>
                <td>108</td>
                <td>24</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>K0116.5123</td>
                <td>серебро-металлик</td>
                <td>5</td>
                <td>M12</td>
                <td>23</td>
                <td>23</td>
                <td>30</td>
                <td>31</td>
                <td>22</td>
                <td>49</td>
                <td>12</td>
                <td>32</td>
                <td>79</td>
                <td>84</td>
                <td>110</td>
                <td>126</td>
                <td>26</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab_content_last">
                <td>K0116.5163</td>
                <td>серебро-металлик</td>
                <td>5</td>
                <td>M16</td>
                <td>23</td>
                <td>23</td>
                <td>30</td>
                <td>31</td>
                <td>22</td>
                <td>49</td>
                <td>12</td>
                <td>32</td>
                <td>79</td>
                <td>84</td>
                <td>110</td>
                <td>126</td>
                <td>26</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="flt-table__tooltip-wrap">
                    <button class="flt-table__tooltip-link"
                        onclick="toggleFltTooltip(this)">
                        35
                    </button>
                    <div class="flt-table__tooltip" data-flt-tooltip>
                        <button class="flt-table__tooltip-close"
                            onclick="toggleFltTooltip(this)">
                            х
                        </button>
                        <span class="flt-table__tooltip-title">
                            Наличие на всех складах: 20 шт.
                        </span>
                        Наличие на складе г. Москва: 10шт.<br/>
                        Наличие на складе г. Санкт-Петербург: 15шт.<br/>
                        Наличие на складе г. Екатеринбург: 5 шт.<br/>
                    </div>
                </td>
                <td>
                    <form class="flt-table__buy" data-add-to-card>
                        <button type="button" 
                            class="flt-table__buy-plus"
                            data-add-to-card-decrement
                            disabled>
                            -
                        </button>
                        <input type="text" 
                            value="1" 
                            class="flt-table__buy-input"
                            data-add-to-card-value/>
                        <button type="button" 
                            class="flt-table__buy-minus"
                            data-add-to-card-increment>
                            +
                        </button>
                        <button type="submit" 
                            class="flt-table__buy-button"
                            data-add-to-card-btn></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- инициализация плгина tablefilter.js
    и подсветка колонок при ховере
-->
<script>
    function toggleFltTooltip (linkNode){
        var currentTooltip = linkNode.parentNode.parentNode.querySelector("[data-flt-tooltip]"),
            tooltipsNodeList = document.querySelectorAll('[data-flt-tooltip]');
        
        [].forEach.call(tooltipsNodeList, function(node) {
            if (!node.isEqualNode(currentTooltip)) {
                node.classList.remove("active");
            }
        });
        currentTooltip.classList.toggle("active");
    }

    function addToCard (){
        var addToCardNodeList = document.querySelectorAll('[data-add-to-card]');

        [].forEach.call(addToCardNodeList, function(node) {
            init(node);
        });

        function init(node){
            var form = node[0],
                decrementBtn = node.querySelector('[data-add-to-card-decrement]'),
                incrementBtn = node.querySelector('[data-add-to-card-increment]'),
                input = node.querySelector('[data-add-to-card-value]'),
                submitBtn = node.querySelector('[data-add-to-card-btn]'),
                event = new Event('inputChange');

            decrementBtn.addEventListener("click", function(e){
                input.value = parseFloat(input.value) - 1;
                input.dispatchEvent(event);
            });

            incrementBtn.addEventListener("click", function(e){
                input.value = parseFloat(input.value) + 1;
                input.dispatchEvent(event);
            });

            input.addEventListener('inputChange', function (e) {
                if(e.target.value == 1) {
                    decrementBtn.disabled = true; 
                    return;
                }
                decrementBtn.disabled = false; 
            });

            input.addEventListener('input', function (e) {
                var value = e.target.value;
                input.value = value.replace(/\D/g,'');
                return;
            });

            submitBtn.addEventListener("click", function(e){
                e.preventDefault();
                alert('Добавлено: '+input.value+'шт.');
            });
        }
    }
    addToCard ();

    function diyTable (){
        var filterTableNodeList = document.querySelectorAll('[data-flt-table]');
        
        [].forEach.call(filterTableNodeList, function(node) {
            initTable(node);
            highlightColumn(node);
        });
        
        function initTable(table) {
            // https://github.com/koalyptus/TableFilter/wiki
            // http://www.tablefilter.com/docs/
            var config = getTableConfig(table),
                tableFilter = new TableFilter(table, config);

            tableFilter.init();
        }
        
        function highlightColumn(table) {
            var tdNodes = table.querySelectorAll('td');

            [].forEach.call(tdNodes, function (e) {
                e.addEventListener('mouseenter', function (e) {
                    var td = e.target;
                    table.dataset.highlightColumn = e.target.cellIndex + 1;
                });
            });
        }        
        
        function idGenerator() {
            return 'js_' + Math.random().toString(36).substr(2, 9);
        }
        
        function getTableConfig(node){
            var table = node,
                resetButton = table.querySelector('span');

            resetButton.id = idGenerator();

            return {
                base_path: '/local/templates/aspro_next/js/tablefilter/',
                popup_filters: {
                    image_html: '<div class="flt-table__arrow-placeholder" data-flt-select-link>'+
                            '<span style="pointer-events: none;"></span>'+
                            '<svg style="pointer-events: none;" width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">'+
                                '<line x1="0.707107" y1="1.29289" x2="6.70711" y2="7.29289" stroke="currentColor" stroke-width="2"/>'+
                                '<line x1="5.29289" y1="7.29289" x2="11.2929" y2="1.29289" stroke="currentColor" stroke-width="2"/>'+
                            '</svg>'+
                        '</div>',
                    div_css_class: 'popUpFilter flt-table__popup',
                    placeholder_css_class: 'flt-table__placehollder',
                    on_after_popup_filter_open: function(tf, popupElm, colIndex) {
                        var selectNode = popupElm.querySelector('select'),
                            optionNodeList = popupElm.querySelectorAll('option');
                        selectNode.size = optionNodeList.length;
                    }
                },
                on_after_filter: function(tf) {
                    showCurretnValue(tf, table);
                },
                linked_filters: true,            // тормоза таблицы из-за них
                disable_excluded_options: true,  // тормоза таблицы из-за них
                filters_cell_tag: 'th',
                clear_filter_text: '—',
                sort_select: true,
                thousands_separator: ' ',
                decimal_separator: ',',
                sticky_headers: false,
                responsive: false,
                btn_reset: {
                    target_id: resetButton.id,
                    text: 'Сбросить фильтр',
                    css_class: 'flt-table__reset-button',
                },
                msg_filter: 'Идет фильтрация...',
                activateText: 'String',
                mark_active_columns: {
                    highlight_column: true,
                    header_css_class: 'flt-table__active-header',
                    cell_css_class: 'flt-table__active-cell',
                },
                col_0: 'none',
                col_1: 'select',
                col_2: 'select',
                col_3: 'select',
                col_4: 'select',
                col_5: 'select',
                col_6: 'select',
                col_7: 'select',
                col_8: 'select',
                col_9: 'select',
                col_10: 'select',
                col_11: 'select',
                col_12: 'select',
                col_13: 'select',
                col_14: 'select',
                col_15: 'select',
                col_16: 'select',
                col_17: 'select',
                col_18: 'none',
                col_19: 'none',
                col_20: 'none',
                col_21: 'none',
                extensions: [{ 
                    name: 'sort',
                    sort_col_at_start: [0, false],    //true == ASC, false = DESC 
                    types:[
                        'String',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none',
                        'none'
                    ]
                 }]
            }
            function showCurretnValue(tf, table) {
                var selectNodeList = table.querySelectorAll('th select');

                [].forEach.call(selectNodeList, function (node) {
                    var linkNode = node.parentNode.parentNode.parentNode.querySelector('[data-flt-select-link]');
                        svgNode = linkNode.querySelector('svg'),
                        valueNode = linkNode.querySelector('span');

                    if (node.value != '') {
                        svgNode.style.display = 'none';
                        valueNode.style.display = 'inline';
                        valueNode.innerText = node.value;
                    } else {
                        svgNode.style.display = 'inline';
                        valueNode.style.display = 'none';
                        valueNode.innerText = '';
                    }
                });
            }
        };
    }
    diyTable ();
</script>