/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.blue_underlined {
	border-bottom: 2px solid #4f82ba;
}
.catalog_section_list.row.items.sections_wrapper .list.items {
	margin-top: 15px;
	margin-bottom: 15px;
}