body .wrapper_inner, body .maxwidth-theme{ max-width: 1230px; }
.fill_bg_y .front.wide_page .adv_bottom_block, .fill_bg_y .front.wide_page hr{max-width: 1230px;}
.fill_bg_y .line-row{max-width: 1230px;}
.fill_bg_y .banners-content .maxwidth-banner{max-width: 1230px;}
.fill_bg_y .contacts_map, .fill_bg_y .contacts-page-map{max-width: 1230px;}
.fill_bg_y .banner.TOP_UNDERHEADER, .fill_bg_y .banner.FOOTER, .fill_bg_y .banner.CONTENT_TOP, .fill_bg_y .banner.CONTENT_BOTTOM{max-width: 1230px;}

body.fill_bg_y  .top_big_one_banner { max-width: 1230px; margin: 0 auto; }
.bx_filter .bx_filter_button_box .bx_filter_parameters_box_container > .btn{padding-left: 10px;padding-right: 10px;}

@media (min-width: 992px){
	body .header-v4 .logo_and_menu-row .logo-row>.maxwidth-theme>.col-md-4{width:33.33333333333333%;}
	.detail .gallery-block .bigs.flexslider .slides .item{height:578px;line-height:575px;}
}
@media (min-width:1200px){
	body  .header-v4 .logo_and_menu-row .logo-row>.maxwidth-theme>.col-md-4{width:36.6%;}

	.left_block{width:210px;}
	.right_block.wide_N, .right_block.wide_{width: calc(100% - 240px) !important;}
	.menu-row.middle-block .mega-menu table td.catalog{width: 210px;}
	.menu-row.middle-block:not(.bglight) .mega-menu table td.catalog > .wrap{width: 209px;}
}

@media (max-width: 1400px){
	.top-block .top-description .confirm_region{left:10px;}
	.top-block .top-description .confirm_region:before, .top-description .confirm_region:after{left:50px;}
}
