h3.title_block{
	display: block;
	text-align: center;
	border-bottom: transparent;
}


h3.title_block a{
	font-size: 28px;

}

h3.title_block a span{
	border-bottom: 2px solid #4f82ba;
	line-height: 30px;
	display: inline-block;

}

table.catalog_decs{box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;border-collapse:collapse;}
.catalog_decs thead, .catalog_decs tr:nth-child(1){border:1px solid #f2f2f2;}
.catalog_decs thead tr, .catalog_decs tr:nth-child(1){background:#F7F7F7;}
.catalog_decs tr td{padding:2px;}
.catalog_decs tbody{border-left:1px solid #E7E7E7;border-right:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;}
.catalog_decs tbody tr td{border-bottom:1px solid #E7E7E7;}

a.dark_link.readmore, a.dark_link.readmore:hover{
	text-decoration: underline !important;
}