.on-i-order .one_click_buy_frame.popup .pop-up-title {
	display: none;
}

.catalog_detail .item_main_info {
	border: none!important;
}

.elem_th_slider .slick-prev {
	padding: 20px 40px;
	margin: -10px auto !important;
}

.elem_th_slider .slick-next {
	transform: rotate(180deg);
	padding: 20px 40px;
	margin: -10px auto !important;
}

.slick-arrow:hover {
	filter: brightness(0.9);
}

.slick-arrow:active {
	filter: brightness(0.8);
}

.elem_th_slider .slick-arrow {
	margin: 0 auto;
	display: block !important;
	cursor: pointer
}

.catalog_detail .manufacturer {
	font-size: 14px;
	color: #666666;
	padding-left: 150px;
}

.catalog_detail .manufacturer span {
	color: #555;
	font-weight: bold
}

.catalog_detail .item_main_info .skidka {
	top: 50px!important;
	left: 160px!important;
}

.catalog_detail .slider-for .popup_link {
	display: block
}

.catalog_detail .slider-for .popup_link img {
	margin: 0 auto;
	max-width: 100%;
}

.catalog_detail .prod_info {
	border: 3px solid #e4e4e4;
	padding: 15px;
	max-width: 360px;
	margin-left: 45px;
}

.catalog_detail .available {
	margin-bottom: 28px
}

.catalog_detail .available span {
	color: #666;
	font-size: 14px;
	margin-left: 10px
}

.dpl {
	display: inline-block;
	vertical-align: top;
}

.elem_th_slider {
	max-width: 120px;
	float: left;
}

.slider-for {
	padding-left: 30px;
}

.slick-slide img {
	display: block;
	width: 100% !important;
}

.catalog_detail .price_block .old {
	position: relative;
	color: #585858;
	font-size: 18px;
	text-decoration: line-through;
}

.link-favorite {
	margin-top: 25px;
	text-align: right;
	margin-right: 8px;
	padding-bottom: 14px;
}

.catalog_detail .price_block .new {
	color: #585858;
	font-size: 24px;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 40px
}

.catalog_detail .send_prod_order {
	margin-left: 0;
	display: block;
	max-width: 325px;
	text-align: center;
}

.catalog_detail .delivery_block {
	margin-top: 23px;
	max-width: 360px;
	margin-left: 45px;
}

.catalog_detail .delivery_block .title {
	font-size: #555;
	font-size: 16px;
	font-weight: bold
}

.catalog_detail .delivery_block .title img {
	margin-right: 15px
}

.catalog_detail .delivery_block table td {
	font-size: 16px;
	color: #666666;
	padding-bottom: 10px;
}

.catalog_detail .delivery_block table {
	width: 100%
}

.catalog_detail .delivery_block table td:last-child {
	text-align: right
}

.catalog_detail .delivery_block table td[colspan="2"] {
	text-align: left;
	padding-bottom: 0
}

.form_footer>.btn {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-transform: none;
	text-decoration: none;
	margin: 0px;
	border: 1px solid;
	border-radius: 2px;
	padding: 14px 38px 17px;
	overflow: hidden;
	transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.catalog_detail .isp_line {
	font-size: 21px;
	color: #242424;
	margin: 40px 0 35px 0;
	line-height: 30px;
}

.catalog_detail #isp_carousel .varisp {
	overflow: hidden;
	border: 2px solid #ededed;
}

.catalog_detail #isp_carousel .varisp:hover,
.catalog_detail #isp_carousel .varisp.act {
	border: 2px solid #f90000
}

.catalog_detail #isp_carousel .item img {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px
}

.catalog_detail #isp_carousel .item .title {
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #1976d2;
	line-height: normal;
	padding: 20px 10px;
	margin: 0;
}

.catalog_detail .info_var_isp {
	margin-top: 15px;
}
.catalog_detail .info_var_isp .nav.nav-tabs>li a {
	padding: 12px 15px 15px;
}
.catalog_detail .info_var_isp .nav.nav-tabs>li.active>a,
.catalog_detail .info_var_isp .nav.nav-tabs>li.active>a:hover,
.catalog_detail .info_var_isp .nav.nav-tabs>li.active>a:focus {
	border-top: 3px solid #1976d2;
	background: #ffffff;
	color: #1976d2;
}

.catalog_detail .info_var_isp .nav-tabs>li>a {
	border-radius: 0;
	border: 1px solid #e8e7e5;
	background: #f7f7f7;
	color: #000;
	margin: 0;
	font-weight: 600;
	min-width: 234px;
	text-align: center;
}

.catalog_detail .info_var_isp .nav-tabs>li:not(.active)>a>span {
	position: relative;
	top: 2px
}

.catalog_detail .info_var_isp .nav-tabs>li.active>a>span {
	display: block;
	margin-bottom: -2px;
}

.catalog_detail .info_var_isp .nav-tabs {
	border: none
}

.catalog_detail #isp_carousel .owl-prev {
	background: url(/images/site/left_arrow.png) no-repeat center center !important;
	width: 17px;
	height: 245px;
	position: absolute;
	top: 0;
	left: -25px;
}

.catalog_detail #isp_carousel .owl-prev:after,
.catalog_detail #isp_carousel .owl-next:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -15px;
	right: -15px;
}

.catalog_detail #isp_carousel .owl-prev:after {
	left: -5px;
}

.catalog_detail #isp_carousel .owl-next:after {
	right: -5px;
}

.catalog_detail #isp_carousel .owl-next {
	background: url(/images/site/right_arrow.png) no-repeat center center !important;
	width: 17px;
	height: 245px;
	position: absolute;
	top: 0;
	right: -25px;
}

.catalog_detail #isp_carousel .owl-prev:hover:not(.disabled) {
	background: url(/images/site/left_arrow_act.png) no-repeat center center !important;
}

.catalog_detail #isp_carousel .owl-next:hover:not(.disabled) {
	background: url(/images/site/right_arrow_act.png) no-repeat center center !important;
}

.slick-btn-prev,
.slick-btn-next {
	display: none !important;
}

.thumb-wrap {
	position: relative;
	padding-bottom: 9.25%;
	/* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.thumb-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn-common {
	background-color: #a9a9a9;
	color: #fff;
	line-height: 40px;
	position: relative;
}
.btn-child {
	background-color: #bdbdbd;
	color: #fff;
	position: relative;
}


.btn-child p {
	padding: 7px;
	font-size: 14px;
	margin: 2px;
}
.btn-common p {
	padding: 7px;
	font-size: 14px;
	margin: 2px;
}
.btn-common:hover {
	cursor: pointer;

}
.btn-child:hover {
	cursor: pointer;

}

.triangle {
	border: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	top: 25%;
	right: 14px;
	margin-bottom: -4px;
}

.active > .triangle {
	transform: rotate(180deg);
	top: 45%;
}

.info_var_isp > .navbar-default {
     background-color:transparent !important;
     border-color: transparent !important;
}

.info_var_isp > .navbar {
     margin-bottom: 15px;
}
.info_var_isp .navbar-collapse {

    padding-right: 0px !important;
    padding-left: 0px !important;

}

.info_var_isp ul {
    margin: 0px !important;
}

@media (max-width:767px){

	.slider-for {
		padding-left: 0px !important;
	}
	.catalog_detail .item_main_info .skidka {
		display: block;
		position: absolute;
		width: 60px !important;
		text-align: center;
		vertical-align: middle;
		background: #f90000;
		color: #fff;
		top: 5px;
		left: 5px;
		padding: 17px 0 !important;
		border-radius: 66px;
		font-weight: bold;
		font-size: 20px !important;
		z-index: 2;
	}
	.catalog_detail .manufacturer {
		font-size: 14px;
		color: #666666;
		padding-left: 0px;
	}
	.catalog_detail .item_main_info .skidka {
		top: 50px!important;
		left: 10px!important;
	}
	.slick-btn-prev {
		float: left;
		left: -15px;
	}
	.slick-btn-next {
		float: right;
		right: -15px;
	}
	.slick-btn-prev,
	.slick-btn-next {
		display: block !important;
		width: 35px;
		position: absolute;
		top: 50%;
		z-index: 4;
	}
	.slider-nav {
		display: none !important;
	}
	.catalog_detail .delivery_block {
		margin-top: 15px;
		max-width: 360px;
		margin-left: 0px;
	}
	.catalog_detail .prod_info {
		border: 3px solid #e4e4e4;
		padding: 15px;
		max-width: 360px;
		margin-left: 0px;
	}

	h1.page-title {
		font-size: 36px;
		font-weight: normal;
		padding-bottom: 27px;
		line-height: 44px;
		padding-top: 10px !important;
	}
	/*
	.catalog_detail .nav.nav-tabs{display: block!important}
	.catalog_detail .nav.nav-tabs > li{display: block;width: 100%;margin-bottom: 5px;}
	*/
}

@media screen and (min-width:768px) and (max-width:1023px) {
	.catalog_detail .prod_info {
		float: left;
		margin-top: 20px;
		max-width: 50%;
		margin-left: 0;
	}
	.catalog_detail .delivery_block {
		float: right;
		margin-top: 20px;
		max-width: 50%;
		margin-left: 0;
	}
}
